/app/build/intermediates/dex/debug/mergeExtDexDebug/classes.dex
/openCV440/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/build/reports/configuration-cache/ckbehoo2y7p4kfcnmruewnopd/6yojti8v5ghpj5x9acx0gj02n/configuration-cache-report.html
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/utils/Converters.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/utils/Converters.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Core$MinMaxLocResult.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Core$MinMaxLocResult.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Core.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Core.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/CvType.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/CvType.dex
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/DocumentScanner/build/kotlin/compileDebugKotlin/cacheable/dirty-sources.txt
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/DMatch.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/DMatch.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/imgcodecs/Imgcodecs.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgcodecs/Imgcodecs.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/imgproc/Imgproc.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/Imgproc.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/KeyPoint.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/KeyPoint.dex
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libc++_shared.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/arm64-v8a/libc++_shared.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libimage_processing_util_jni.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/armeabi-v7a/libimage_processing_util_jni.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86/libimage_processing_util_jni.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86_64/libimage_processing_util_jni.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/arm64-v8a/libimage_processing_util_jni.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/armeabi-v7a/libimage_processing_util_jni.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/x86/libimage_processing_util_jni.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/x86_64/libimage_processing_util_jni.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libopencv_java4.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/armeabi-v7a/libopencv_java4.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86/libopencv_java4.so
/app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86_64/libopencv_java4.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/arm64-v8a/libopencv_java4.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/armeabi-v7a/libopencv_java4.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/x86/libopencv_java4.so
/app/build/intermediates/stripped_native_libs/debug/stripDebugDebugSymbols/out/lib/x86_64/libopencv_java4.so
/app/build/intermediates/linked_resources_binary_format/debug/processDebugResources/linked-resources-binary-format-debug.ap_
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Mat.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfByte.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfByte.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfDMatch.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfDMatch.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfDouble.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfDouble.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfFloat.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfFloat.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfInt.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfInt.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfInt4.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfInt4.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfKeyPoint.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfKeyPoint.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint2f.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint2f.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint3f.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint3f.dex
/app/build/intermediates/linked_resources_binary_format/debug/processDebugResources/output-metadata.json
/app/build/intermediates/symbol_list_with_package_name/debug/processDebugResources/package-aware-r.txt
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Point.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Point.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Point3.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Point3.dex
/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/processDebugResources/R.jar
/app/build/intermediates/runtime_symbol_list/debug/processDebugResources/R.txt
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Range.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Range.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Rect.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Rect.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Rect2d.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Rect2d.dex
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/results.bin
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/RotatedRect.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/RotatedRect.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Scalar.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Scalar.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/Size.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Size.dex
/app/build/intermediates/stable_resource_ids_file/debug/processDebugResources/stableIds.txt
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/core/TermCriteria.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/TermCriteria.dex
/openCV440/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/org/opencv/android/Utils.class
/openCV440/build/.transforms/13f021266a762247f278a494f7795a21/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/Utils.dex
